@font-face {
  font-family: "EmblemaOne";
  src: url("http://wickedlysmart.com/hfhtml/chapter8/journal/EmblemaOne-Regular.woff") format('woff'),
    url("http://wickedlysmart.com/hfhtml/chapter8/journal/EmblemaOne-Regular.ttf") format('truetype');
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small
}

h1, h2 {
  color: #cc6600;
  border-bottom: thin dotted #888888;
}

h1 {
  font-family: EmblemaOne, sans-serif;
  font-size: 220%;
}

h2 {
  font-size: 130%;
  font-weight: normal;
}

blockquote {
  font-style: italic;
}